<aside class="sidebar-menu" id="sidebar-menu">
  <nav class="sidebar-nav">
    <ul>
      <li class="menu-item">
        <div class="dropdown-toggle">
          <a href="./services.html" class="services">
            <i class="fas fa-th-large"></i>
            سرویس های من
          </a>
        </div>
        <div class="dropdown-menu"></div>
      </li>
      <li class="menu-item has-dropdown">
        <div class="dropdown-toggle">
          <i class="fas fa-server"></i>
          <a class="hosts"><span>هاست‌ها</span></a>
          <i class="fas fa-angle-left dropdown-arrow"></i>
        </div>
        <ul class="dropdown-menu">
          <li>
            <div class="dropdown-toggle">
              <a class="private"> اختصاصی </a>
            </div>
          </li>
          <li>
            <div class="dropdown-toggle">
              <a class="public"> اشتراکی </a>
            </div>
          </li>
          <li>
            <div class="dropdown-toggle">
              <a class="vps"> vps </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="menu-item has-dropdown">
        <div class="dropdown-toggle">
          <i class="fas fa-globe"></i>
          <a href class="domain"><span>دامنه</span></a>
          <i class="fas fa-angle-left dropdown-arrow"></i>
        </div>
        <ul class="dropdown-menu">
          <li>
            <div class="dropdown-toggle">
              <a class="ir"> ir. </a>
            </div>
          </li>
          <li>
            <div class="dropdown-toggle">
              <a class="com"> com. </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="menu-item has-dropdown">
        <div class="dropdown-toggle">
          <i class="fas fa-hdd"></i>
          <a href class="server"><span>سرور</span></a>
          <!-- <i class="fas fa-angle-left dropdown-arrow"></i> -->
        </div>
        <ul class="dropdown-menu">
          <!-- <li><a href="#" class="sserverOne">سرور ابری</a></li>
          <li><a href="#" class="sserverTwo">سرور اختصاصی</a></li>
          <li><a href="#" class="sserverThree">سرور مجازی</a></li> -->
        </ul>
      </li>

      <li class="menu-item has-dropdown">
        <div class="dropdown-toggle">
          <i class="fa-solid fa-wallet"></i>
          <a href class="peyment"><span>مالی</span></a>
          <!-- <i class="fas fa-angle-left dropdown-arrow"></i> -->
        </div>
        <ul class="dropdown-menu">
          <!-- <li><a href="#" class="peymentOne">خدمات امنیت (SSL)</a></li>
          <li>
            <a href="#" class="peymentTwo">شبکه توزیع محتوا (CDN)</a>
          </li>
          <li>
            <a href="#" class="peymentThree">فضای ابری (Cloud)</a>
          </li> -->
        </ul>
      </li>
      <li class="menu-item">
        <div class="dropdown-toggle">
          <a href="./ticket.html" class="ticket"><i class="fas fa-ticket"></i>
            تیکت</a>
        </div>
        <div class="dropdown-menu"></div>
      </li>
      <li class="menu-item">
        <div class="dropdown-toggle">
          <a href="./callus.html" class="callus"><i class="fas fa-address-card"></i>
            تماس با ما</a>
        </div>
        <div class="dropdown-menu"></div>
      </li>

      <li class="menu-item">
        <div class="dropdown-toggle">
          <a href="../index.html" class="logout"><i class="fas fa-door-open"></i>خروج</a>
        </div>
      </li>
    </ul>
  </nav>
</aside>